<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">
            <img src="assets/images/vfw2.png" width="80" height="80" alt="vfw emblem">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--navigation-->
        <div class="collapse navbar-collapse" id="navContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active mx-3">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown" ngbDropdown>
              <a class="nav-link dropdown-toggle" ngbDropdownToggle href="#" id="postNav" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Post
              </a>
              <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="postNav">
                <a class="dropdown-item" href="#">Membership</a>
                <a class="dropdown-item" href="#">Officers</a>
                <a class="dropdown-item" href="#">Activities</a>
                <a class="dropdown-item" href="#">Bingo</a>
                <a class="dropdown-item" href="#">Hall Rental</a>
                <a class="dropdown-item" href="#">Canteen</a>
              </div>
            </li>
            <li class="nav-item  mx-3">
              <a class="nav-link" href="#">Programs</a>
            </li>
            <li class="nav-item  mx-3">
              <a class="nav-link" href="#">Auxiliary</a>
            </li>
            <li class="nav-item  mx-3">
              <a class="nav-link" href="#">Newsletter</a>
            </li>
            <li class="nav-item  mx-3">
              <a class="nav-link" href="#">Contact Us</a>
            </li>  
        </ul>
           <!-- Search --> 
          <form class="form-inline" role="search">
            <div class="input-group add-on">
             <input type="text" class="form-control" placeholder="coming soon">
                <button type="submit" class="btn btn-dark" disabled><i class="fa fa-search"></i></button>
          </div>
          </form>
    </div>
</nav>