<footer class="footer">
  <div class="container">
  <div class="row">
    <div class="col-sm-6 text-center">
      <h6>Mission Statement:</h6>
      <P>The VFW was established to assist veterans.
       Our mission is to serve our veterans, the military and our communities, and advocate on behalf of all veterans.
      </P>
    </div>
    <div class="col-sm text-center">
      <address>
        VFW Post 4876<br>
        PO Box 511<br>
        Altus, OK 73521<br>
        Phone: (580)482-1644
       </address>
    </div>
    <div class="col-sm text-center">
      <ul class="list-unstyled">
          <li>Privacy Policy</li>
          <li>Terms of Useage</li>
      </ul>
    </div>
    <div class="col-sm text-center">
        <ul class="list-unstyled">
            <li>Site Map</li>
            <li>Contact Us</li>
        </ul>
    </div>
  </div>
  <div class="container-fluid text-center">
    <p>Copyright &copy; 2018 CLP Designs</p>
  </div>
  </div>
</footer>