<div class="container-fluid">
  <div class="row">
      <img src="../assets/images/header2.png" class="img-fluid mx-auto" alt="VFW Post 4876 and Auxiliary">
  </div>
  <!--post meeting and right column content-->
  <div class="row pt-4">
    <div class="col-sm-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">Post and Auxiliary Meeting</h5>
                <p class="card-text text-center">7pm Second Thusday of Each Month</p>
                <p> Location: Post Home</p>
                <a href="#" class="card-link text-right">Map</a>
        </div>
    </div>
    </div>
    <!--news column--> 
    <div class="col-sm-8">
      <h1>Current News</h1>
      <div class="row">
        <div class="card-body">
          <h3 class="card-title">Memorial Day</h3>
               <h6 class="card-subtitle mb-2 text-muted">Date: May 22, 2018</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, cum ut quem vocent euismod, ut enim dicta audire sed. Sed hinc vivendo ad. Te mel iusto tibique, dicat patrioque elaboraret eum in. His ei omnes mediocritatem, no qui cetero platonem iracundia. Ad eos ludus epicurei deterruisset, nam et omnes audire.
                    Splendide consequat est at, ei euripidis delicatissimi mei. Qui eros feugiat incorrupte et, ius ea mollis eirmod. Zril quaestio an his, ius graecis detracto inimicus et. Laudem tacimates eos at, ius cu putent tincidunt philosophia.
                    In per modus eruditi. Cu quidam accusata his. Usu paulo homero patrioque ad, in mei justo quodsi fabellas usu.
                </p>
        </div>
        <hr>
      </div>
      <div class="row">
            <div class="card-body">
              <h3 class="card-title">Memorial Day</h3>
                   <h6 class="card-subtitle mb-2 text-muted">Date: May 22, 2018</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, cum ut quem vocent euismod, ut enim dicta audire sed. Sed hinc vivendo ad. Te mel iusto tibique, dicat patrioque elaboraret eum in. His ei omnes mediocritatem, no qui cetero platonem iracundia. Ad eos ludus epicurei deterruisset, nam et omnes audire.
                        Splendide consequat est at, ei euripidis delicatissimi mei. Qui eros feugiat incorrupte et, ius ea mollis eirmod. Zril quaestio an his, ius graecis detracto inimicus et. Laudem tacimates eos at, ius cu putent tincidunt philosophia.
                        In per modus eruditi. Cu quidam accusata his. Usu paulo homero patrioque ad, in mei justo quodsi fabellas usu.
                    </p>
            </div>
            <hr>
          </div>

    </div>    
    <!--right column upcoming events -->
  <div class="col-sm-2">
     <h3>Upcoming Events</h3>
       <!--Events-->
       <div class="row event-css px-2 py-2">
           <div>
               <h2><span class="badge badge-bg"><i class="fa fa-calendar" aria-hidden="true"></i> 30 May</span></h2>
            <h3 class="text-uppercase">Memorial Day</h3>
            </div>
           	<ul class="list-inline">
		        <li class="list-inline-item"> Monday</li>
			    <li class="list-inline-item"><i class="fa fa-clock" aria-hidden="true"></i> 11 AM</li>
				<li class="list-inline-item"><i class="fa fa-map-marker" aria-hidden="true"></i> City Cementary</li>
		    </ul>
        <p>Ceremony at the cementary at 11am</p>
        <p>Lunch at Post Home at 12pm</p>
        <p>Guest Spearker: Some Guy.</p> 
    </div>
    <div class="row event-css px-2 py-2">
            <div>
                <h2><span class="badge badge-bg"><i class="fa fa-calendar" aria-hidden="true"></i> 24 May</span></h2>
             <h3 class="text-uppercase">Flag Placement</h3>
             </div>
                <ul class="list-inline">
                 <li class="list-inline-item"> Thursday</li>
                 <li class="list-inline-item"><i class="fa fa-clock" aria-hidden="true"></i> 4 PM</li>
                 <li class="list-inline-item"><i class="fa fa-map-marker" aria-hidden="true"></i> City Cementary</li>
             </ul>
         <p>Need volunteers to place flags at veteran's graves for Memorial Day. Meet at the city cemetary.</p> 
     </div>
             
  </div>
  </div>
</div>

